---
import { Image } from '@astrojs/image/components';
import HeroBanner from '@/images/hero/invisionbanner.png';
---

<div class='flex'>
  <Image
    class=''
    src={HeroBanner}
    alt='Blurred background with text on top saying InVision'
    height={417}
  />
</div>
