---
import Tile1 from '@/images/tiles/_1.jpg';
import Tile2 from '@/images/tiles/_2.jpg';
import Tile3 from '@/images/tiles/_3.jpg';
import Tile4 from '@/images/tiles/_4.jpg';

import { Image } from '@astrojs/image/components';

const tiles = [Tile1, Tile2, Tile3, Tile4];
---

<section>
  <!-- {tiles.map(tile => <Image src={tile} alt='' height={420} />)} -->
  <Image src={Tile1} alt='' height={420} width={420} />
</section>
